<div class="nested-fields">
  <div class="panel panel-default">
    <div class="panel-heading">
      <div class="input-group">
        <%= f.text_field :name, class: 'form-control', placeholder: 'Filename including extension' %>
        <span class="input-group-btn">
          <%= link_to_remove_association "Remove file", f, class: 'btn btn-danger' %>
        </span>
      </div>
    </div>
    <div class="panel-body">
      <%= f.text_area :value, rows: 7, class: 'form-control' %>
    </div>
  </div>
</div>
